:root {
    --color-primary: rgba(123, 176, 243, 0.5);
    --color-secundary: rgba(66, 66, 72, 0.9);
    --color-third: rgba(220, 238, 243,1);
    --color-four: rgba(4, 46, 56,1);
}
/*border: 6px solid var(--color-third);*/