/*==============MENU==================*/
@media (min-width: 150px){
    .menu{
        width: 2.2rem;
    height: 2.7rem;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    background-color: rgba(66, 66, 72,0.9);
    border-radius: 0.5rem;
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 2rem;
    color: aliceblue;
    text-align:center;
    transition: top 0.7s;
    }

    .logo{
        margin-left: 2.7rem;
    }
    .logo_letters{
        position: absolute;
        top: -50px;
        transition: top 0.7s;
    }
    .navbar_links{
        position: absolute;
        top: -50px;
        transition: top 0.7s;
    }
}

@media(min-width:900px){
    .menu{
        top: -50px;
        transition: top 0.7s;
    }
    .logo_letters {
        margin-top: auto;
        cursor: pointer;
        width: 8.9rem;
        height: 1.5rem;
        top: 1.5rem;
        margin-left: 1rem;
        margin-bottom: .6rem;
    }
    .navbar_links {
        list-style-type: none;
        position: relative;
        top: 0;
        margin-right: 100px;
    }
    
    .navbar_links li {
        display: inline-block;
        padding: 0px 20px;
    }
    
    .navbar_links li a {
        transition: all 0.3s ease 0s;
        color: aliceblue;
    }
    
    .navbar_links li a:hover {
        color: aqua;
    }

}

.checkbox:checked ~ .menu {
    left: 40%;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: left 0.7s;
}

.left-panel{
    width: 40%;
    height: 100%;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);   
    background-color: rgba(66, 66, 72,0.9);
    position: fixed;
    top: 0;
    left: -40%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: left 0.5s;
}

.checkbox:checked ~ .left-panel {
    left: 0;
}

.checkbox {
    display: none;
}

.left-panel ul, .left-panel li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.left-panel ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:20px;
}

.left-panel a{
    display: flex;
    color: rgb(23, 28, 32);
    text-decoration: none;
}

.left-panel a:hover{
    color: white;
    background-image: url(https://i.pinimg.com/originals/12/c0/24/12c024c64db29c59d226e6f91fec877f.jpg);
    background-size: cover;
}
/*==============fin MENU==================*/
