.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.condicionesProductoForm {
    columns: 4;
}

.categoriaProductoForm {
    columns: 2;
}

.input-group {
    columns: 2;
}

.imagenesProductoForm {
    color: black;
}