h1 {
    color: rgb(0, 60, 151);
}
#tabla{
    margin: auto;
    width: auto;
}
table{
    background-color: rgba(37, 57, 82, 0.5);
    width: 100%;
}
th, td{
    border: 1px solid rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}
th{
    text-align: center;
}
thead{
    background-color: rgb(0, 104, 165);
    border-bottom: solid 5px rgb(184, 184, 184);
    color: rgb(255, 255, 255);
}
tr:nth-child(even){
    background-color: rgba(37, 57, 82, 0.5);
}
tr:hover{
    background-color: rgb(72, 156, 177);
    color:rgb(0, 0, 0);
}
ul{
    padding: 0;
    margin:0;
}
button{

    color: aliceblue;
    padding: 9px 25px;
    background-color: rgb(0, 91, 133);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s
}
