#inicioSesion{
    color:black;
    border: 5px;
    background-color: aliceblue;    
    width: 350px;
    min-width: 270px;
    margin: auto;
}
#titu{
    color: black;
    border: 1px;
    background-color: rgb(172, 193, 211);
    width: 100%;
    text-align: center;
    margin: auto;
}
#formulario{
    color:black;
    border: 3px;
    background-color: rgba(66, 66, 72,0.5);
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
#sinCuenta{
    color:black;
    border: 3px;
    background-color: rgb(172, 193, 211);
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.informacion{
    text-align: right;
}

.iniciarSesion{
    margin: auto;
    border-collapse: separate;
    border-spacing:  15px;
}
