
/*=============== CONTENIDO ==================*/
/*================= MAIN ==================*/
#main_container {
    color: aliceblue;
    grid-area: main;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    background-color: rgba(123, 176, 243,0.5);
    padding: 1rem;
    margin:0 .5rem .5rem .5rem;
}
    /*--imagen de perfil con nombre--*/
    .foto-container, .perfil-image{
        text-align: center;
        font-size: 80%;
        align-items: center;
        width: 100px;
        height: 100px;
        margin-left: 0;
        margin: 0;
    }

    /*--imagen de perfil--*/

  .perfil-image{
    margin: 0;
    border-radius: 50%;
  }
    

/*==============MENU==================*/
.menu {
    width: 2.2rem;
    height: 2.7rem;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    background-color: rgba(66, 66, 72,0.9);
    border-radius: 0.5rem;
    position: fixed;
    top: 50%;
    left: 5%;
    font-size: 2rem;
    color: aliceblue;
    text-align:center;
    transition: left 0.7s;
}

.checkbox:checked ~ .menu {
    left: 40%;
    border-radius: 0 0.5rem 0.5rem 0;
}

.left-panel{
    width: 40%;
    height: 100%;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);   
    background-color: rgba(66, 66, 72,0.9);
    position: fixed;
    top: 0;
    left: -40%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: left 0.5s;
}

.checkbox:checked ~ .left-panel {
    left: 0;
}

.checkbox {
    display: none;
}

.left-panel ul, .left-panel li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.left-panel ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:20px;
}

.left-panel a{
    display: flex;
    color: rgb(23, 28, 32);
    text-decoration: none;
}

.left-panel a:hover{
    color: white;
    background-image: url(https://i.pinimg.com/originals/12/c0/24/12c024c64db29c59d226e6f91fec877f.jpg);
    background-size: cover;
}
/*==============fin MENU==================*/


#footer_container {
    grid-area: footer;
    color: aliceblue;
    background-color: rgb(37, 55, 69);
    margin-top: auto;
}
.copyright {
    padding-top: .7rem;
    font-size: 12px;
}
/*=============RESPONSIVO NO TOCAR===================*/
/*---Aquí se encuentra el grid de la página*/

#body_container {
    display: grid;
    /*gap: 10px; Separacion entre los elementos*/
    grid-template-areas: /*Ordenamos la página*/
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
}

/*Modo Celular*/
@media(min-width: 150px){
    #body_container {
        grid-template:
        "header" 0px
        "navbar" 7rem
        "main"
        "sidebar" 0px
        "footer" 10.9rem; /*Columna dimension*/
    }
}
/*
@media(min-width: 600px){
    #body_container {
        grid-template:
        "header header header" 100px
        "navbar main sidebar" 
        "footer footer footer" 10.9rem /
        11rem auto 11rem; /*Columna dimension** 
    }
} 
*/
/*--Modo Escritorio*/
@media(min-width: 900px){
    #body_container {
        grid-template:
        "header header header" 0px
        "navbar navbar navbar" 5rem
        ". main sidebar"
        "footer footer footer" 10.9rem/
        11rem auto 11rem; /*Columna dimension*/
    }
}
/*=============RESPONSIVO NO TOCAR===================*/