#registro{
    font-size: 13px;
    margin: auto;
    width: 400px;
    border: rgba(109, 226, 236, 0.144) 8px outset;
}
.formGeneral,.direccion{
    margin: auto;
    border-collapse: separate;
  border-spacing:  15px;
}

input{
    width: 100%;
}

input:invalid{
    color: red;
}

#button{
    width: 70px;
    background-color: rgba(32, 71, 71, 0);
}

.informacion{
    text-align: right;
}
.logint{
    font-size: 15px;
}
.login{
    font-size: 15px;
    text-decoration: underline;
}

.login:hover{
    color: blue;
    text-decoration: underline;
    font-size: 17px;
}
/*==============Direccion==================*/
.check,.check1{
    display: none;
}

input[type="checkbox"] + label{
    cursor: pointer;
}

/*==============MENU==================*/
.menu {
    width: 2.2rem;
    height: 2.7rem;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    background-color: rgba(66, 66, 72,0.9);
    border-radius: 0.5rem;
    position: fixed;
    top: 50%;
    left: 5%;
    font-size: 2rem;
    color: aliceblue;
    text-align:center;
    transition: left 0.7s;
}

.checkbox:checked ~ .menu {
    left: 40%;
    border-radius: 0 0.5rem 0.5rem 0;
}

.left-panel{
    width: 40%;
    height: 100%;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);   
    background-color: rgba(66, 66, 72,0.9);
    position: fixed;
    top: 0;
    left: -40%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: left 0.5s;
}

.checkbox:checked ~ .left-panel {
    left: 0;
}

.checkbox {
    display: none;
}

.left-panel ul, .left-panel li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.left-panel ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:20px;
}

.left-panel a{
    display: flex;
    color: rgb(23, 28, 32);
    text-decoration: none;
}

.left-panel a:hover{
    color: white;
    background-image: url(https://i.pinimg.com/originals/12/c0/24/12c024c64db29c59d226e6f91fec877f.jpg);
    background-size: cover;
}
/*==============fin MENU==================*/
