.main_container {
    color: #212529;
}

/*Correcion de los ul*/
ul {
    list-style-position: inside;
}

.seleccion{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.seleccion a{
    color: blue; 
    text-decoration: underline;
}
/*Cajita de todo lo del cliente*/
/* .info_cliente{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
} */

/*Para la cajita de la imagen del cliente*/
/* .info_cliente_imagen_cliente{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(62, 62, 233);
    margin-bottom: 10px;
}
.img_foto_cliente{
    display: inline;
    margin: 0 auto;    
    height: 100%;
    width: auto;
} */

/*Para la calificacion del cliente*/
/* .info_cliente_calf_cliente{
    width: 20%;
}
.img_calificacion{
    width: 100%;
} */

/*Para sus datos*/
/* .info_cliente_datos_cliente{
    padding-top: 1rem;
    min-width: 25rem;
    min-height: 15rem;
    background-color: cornflowerblue;
    border-radius: 25px;
} */
/*Para otros productos del cliente*/
/* .info_cliente_sus_productos{
    width: 100%;
    background-color:rgb(88, 122, 185) ;
} */
/*Para los comentarios del cliente*/
/* .info_cliente_comentarios_cliente{
    width: 100%;
    background-color: rgb(90, 128, 163);
} */
 