h1 {
    color: rgb(0, 60, 151);
}
form{
    background-color:#106193;
    width: auto;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
}
label{
    font-size:18px;
    display:block;
    width: 100%;
}
input, textarea{
    margin-bottom: 20px;
    width:50%;
    padding:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: rgb(202, 218, 243);
}
input:focus,textarea{
    border: 1px solid #ccc;
}
textarea{
    resize: vertical;
    max-height: 105px;
    min-height: 100px;
}
input[type="submit"]{
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.603);
    color: rgb(255, 255, 255);
    border: none;
}

input[type="submit"]:hover{
    background:rgb(0, 183, 255);
    cursor:pointer;
}

.input-ch{
    width: 15%;
}
.input-med{
    width: 20%;
}
.cambiarI{
    background-color:#106193;
    border: none;
}