.main_container {
    color: #212529;
}
li, a{
    text-decoration: none;
    color: #212529;    
}
/*Correcion de los ul*/
ul {
    list-style-position: inside;
 }
 
#index_main_container{
    display: flex;
    justify-content: start;
}

.opciones_lateral{
    list-style-type: none;
    background-color: cornflowerblue;
}
.opciones_lateral li {
    display:block;   
    padding: 0px 20px;
}
.opciones_lateral li a {
    transition: all 0.3s ease 0s;
    color: aliceblue;    
}
.opciones_lateral li a:hover {    
    color: aqua;   
}

.seleccion{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.info_personal_imagen_perfil{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(62, 62, 233);   
    margin-bottom: 10px;
    
}
.imagen_perfil_foto_usuario{
    display: inline;
    margin: 0 auto;    
    height: 100%;
    width: auto;
}

.info_personal_datos_usuario{
    background-color: lightskyblue;
    border-radius: 25px;
    padding: 15px;
    text-align: justify;
    width: 50%;
}