.main_container {
    color: #212529;
}

/*Correcion de los ul*/
ul {
    list-style-position: inside;
}
.seleccion{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.seleccion a{
    color: blue; 
    text-decoration: underline;
}
/*Cajita de todo lo del vendedor*/
/*.info_vendedor{
    display: flex;
    flex-flow: column;
    align-items: center;    
    width: 100%;    
}*/

/*Para la cajita de la imagen del vendedor*/
/*.info_vendedor_imagen_vendedor{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(62, 62, 233); 
    margin-bottom: 10px;
}
.img_foto_vendedor{
    display: inline;
    margin: 0 auto;    
    height: 100%;
    width: auto;
}
*/
/*Para la calificacion del vendedor*/
/*.info_vendedor_calf_vendedor{
    width: 20%;
}
.img_calificacion{
    width: 100%;
}

.info_vendedor_informacion{
    width: 90%;
    border-radius: 25px;
    overflow: hidden;
    text-align: justify;    
}*/

/*Para sus datos*/
/*.info_vendedor_datos_vendedor{
    width: 100%;
    background-color: cornflowerblue;
    padding: 15px;
}*/
/*Para otros productos del vendedor*/
/*.info_vendedor_sus_productos{
    width: 100%;
    background-color:rgb(105, 141, 207) ;
    padding: 15px;
}*/
/*Para los comentarios del vendedor*/
/*.info_vendedor_comentarios_vendedor{
    width: 100%;
    background-color: rgb(90, 128, 163);
    padding: 15px;
}
*/