#confirmarPedido_main_container {
    display: grid;
    grid-template-areas:
        "TituloCP"
        "CPsuperior"
        "CPinferior";
        
}
#TituloCPedido {
    grid-area: TituloCP;
    min-height: .5rem;
}
#main_container_CPedido_superior {
    grid-area: CPsuperior;
    display: flex;
    justify-content: space-between;
    margin: .4rem;
}

#main_container_CPedido_inferior {
    grid-area: CPinferior;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
#CPedido_superior_direccion {
    grid-area: CPdir;
    border: 1px solid rgb(255, 0, 0);
    color: black;
    background-color: rgba(255,255,255,0.3);
}
#CPedido_superior_pago {
    grid-area: CPpago;
    border: 1px solid rgb(90, 80, 80);
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgba(255,255,255,0.3);
}


.container_format {
    border-radius: .5rem;
    padding: .5rem;
}

.CPedido_productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: aqua;
    margin-top: .5rem;
}