#confirmarPedido_main_container {
    display: grid;
    grid-template-areas:
        "TituloCP"
        "CPsuperior"
        "CPinferior";
        
}
#TituloConfirmarPedido {
    grid-area: TituloCP;
    min-height: .5rem;
}

#main_container_ConfirmarPedido_superior {
    grid-area: CPsuperior;
    display: flex;
    justify-content: space-between;
    margin: .4rem;
}

#ConfirmarPedido_superior_direccion {
    grid-area: CPdir;
    color: black;
    background-color: rgba(255,255,255,0.3);
}
#ConfirmarPedido_superior_pago {
    grid-area: CPpago;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgba(255,255,255,0.3);
}
#main_container_ConfirmarPedido_inferior {
    grid-area: CPinferior;
    display: flex;
    flex-direction: column;
    
}
.container_format {
    border-radius: .5rem;
    padding: .5rem;
}
.button_Pago {
    color: aliceblue;
    padding: 9px 25px;
    background-color: rgb(40, 10, 135);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button_Pago:hover {
    background-color: rgb(35, 146, 0);
    color: white;
}
.button_Cancelar {
    color: aliceblue;
    padding: 9px 25px;
    background-color: rgb(253, 74, 79);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button_Cancelar:hover {
    background-color: rgb(215, 5, 5);
    color: white;
}
