.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 800px;
    position: sticky;
    top: 0;
    left: 0;
    height: 120vh;
    z-index: 999;
    /* background: transparent; */
    color: #fff;
    transition: all 0.3s;
    color: aliceblue;
    background-color: transparent;
    margin-top: auto;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
    font-size: x-small;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    /* background: rgb(37, 55, 69); */
    background: : transparent;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}


/* #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(171, 191, 206);
} */

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: transparent;
    font-family: "Font Awesome 5 Free";
}

#sidebarCollapse {
    margin-right: auto;
}