#numTarjetaBox {
    columns: 2;
    margin-left: 20rem;
}

#fechaTarjetaBox {
    columns: 3;
    margin-left: 20rem;
}

#nombreTarjetaBox {
    columns: 2;
    margin-left: 20rem;
}

.ccvTarjetaBox {
    columns: 2;
}

#pagoOxxoBox {
    background-color: transparent;
    margin: auto auto;
}

#textoCardOxxo {
    font-size: small;
}

.notasOxxo {
    font-size: xx-small;
}