#index_main_container{
    display: flex;
    justify-content: start;
}

.opciones_lateral{
    list-style-type: none;
    background-color: cornflowerblue;
}
.opciones_lateral li {
    display:block;   
    padding: 0px 20px;
}
.opciones_lateral li a {
    transition: all 0.3s ease 0s;
    color: aliceblue;    
}
.opciones_lateral li a:hover {    
    color: aqua;   
}

.seleccion{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.mis_ventas_imagen_no_vendo{
    width: 20%;
}
.mis_ventas_img_advertencia{
    width: 100%;
}

.mis_ventas_aviso_no_vendes{
    width: 100%;
}