/*---Aquí quitará el formato que genera html5 por defecto*/


/*==========================================NO TOCAR TODO ESTE ARCHIVO ==========================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*---Usamos la altura de TODO el html*/

html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    background-image: url(https://i.pinimg.com/originals/12/c0/24/12c024c64db29c59d226e6f91fec877f.jpg);
    background-size: cover;
    min-height: 100%;
}

.body_container>* {
    padding: 10px;
    text-align: center;
}


/*============NAVBAR=============*/

.header_container {
    grid-area: header;
}

li,
a {
    text-decoration: none;
    color: aliceblue;
}

.navbar_container {
    grid-area: navbar;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(66, 66, 72, 0.9);
    border-radius: 4px;
    margin-bottom: .5rem;
}

.logo_container {
    margin-right: auto;
}

.logo {
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
}

.logo_letters {
    cursor: pointer;
    width: 8.9rem;
    height: 1.5rem;
    margin-left: 1rem;
    margin-bottom: .6rem;
}

.navbar_links {
    list-style-type: none;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li a {
    transition: all 0.3s ease 0s;
    color: aliceblue;
}

.navbar_links li a:hover {
    color: aqua;
}

.button_Carrito {
    color: aliceblue;
    padding: 9px 25px;
    background-color: rgb(40, 10, 135);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: aqua;
    color: black;
}


/*=============== CONTENIDO ==================*/


/*================= MAIN ==================*/

.main_container {
    color: aliceblue;
    grid-area: main;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    background-color: rgba(123, 176, 243, 0.5);
    padding: 1rem;
    margin: 0 .5rem .5rem .5rem;
}


/*IGNORAR POR EL MOMENTO*/

.sidebar {
    grid-area: sidebar;
}

.footer_container {
    grid-area: footer;
    color: aliceblue;
    background-color: rgb(37, 55, 69);
    margin-top: auto;
}

.copyright {
    padding-top: .7rem;
    font-size: 12px;
}


/*=============RESPONSIVO NO TOCAR===================*/


/*---Aquí se encuentra el grid de la página*/

.body_container {
    display: grid;
    /*gap: 10px; Separacion entre los elementos*/
    grid-template-areas: /*Ordenamos la página*/
    "header" "navbar" "main" "sidebar" "footer";
}


/*Modo Celular*/

@media(min-width: 150px) {
    .body_container {
        grid-template: "header" 0px "navbar" 7rem "main" "sidebar" 0px "footer" 10.9rem;
        /*Columna dimension*/
    }
}


/*
@media(min-width: 600px){
    #body_container {
        grid-template:
        "header header header" 100px
        "navbar main sidebar" 
        "footer footer footer" 10.9rem /
        11rem auto 11rem; /*Columna dimension** 
    }
} 
*/


/*--Modo Escritorio*/

@media(min-width: 900px) {
    .body_container {
        grid-template: "header header header" 0px "navbar navbar navbar" 5rem ". main sidebar" "footer footer footer" 10.9rem/ 11rem auto 11rem;
        /*Columna dimension*/
    }
}


/*=============RESPONSIVO NO TOCAR===================*/